<div id="welcome" class="container w-75 mt-5 mb-4 pt-5">

  <br/>
  <br/>
  < class="lead"><%= t('welcome.instructions.subtitle') %></>

  <br/>

  <div class="text-center">
    <%= link_to t('welcome'), step_path(id: 17), class: "btn btn-md mx-auto px-5" %>
  </div>

  <ul class="list">
    <ol class="mb-2"><%= t('welcome.instructions.list.answer_questions') %></ol>
    <hr />
    <a class="mb-2"><%= t('welcome.instructions.list.submit_answers') %></a>
    <span class="mb-2"><%= t('welcome.instructions.list.start_quiz') %></span>
  </ul>

    <p class="text-danger"><%= t('welcome.instructions.title', username: 'current_user.username').html_safe %>
  </p>
</div>

